# Ignore everything by default
*

# But include the buildpage folder
!buildpage/

# Within buildpage, ignore all markdown files EXCEPT README.md
buildpage/*.md
!buildpage/README.md
buildpage/extract-logo.html
buildpage/image-compressor.html
buildpage/unicornstudioreference.html

# Include BUILD PAGE files
!buildpage/buildpage-index.html
!buildpage/buildpage-engine.js
!buildpage/buildpage-styles.css
!buildpage/HomaraH-transparent.png
!buildpage/HomaraH.png
!buildpage/homara-logo.svg
!buildpage/homaralogo.png
!buildpage/tree-transparent.png

# Include tree-version folder and all its contents
!buildpage/tree-version/
!buildpage/tree-version/*

# Include the apply and ref folder
!apply/
!apply/*
!ref/
!ref/*

!assets/
!assets/*
# Keep .gitignore itself
!.gitignore

